body {
    margin: 0;
    padding: 0;
    position: relative;
}
canvas {
    margin: 0;
    padding: 0;
}
header.title {
    position: absolute;
    top: 0;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    line-height: 200%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1),rgba(0,0,0,0));
    text-shadow: 1px 1px white;
    width: 100%;
}
.palitra {
    background-color: rgba(0,0,0,0);
    position: absolute;
    right: 5px;
    top: 10px;
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    padding: 5px;
}
.palitra div {
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 2px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    padding-top: 2px;
    background-color: white;
}