body {
    margin: 0;
    padding: 0;
    position: relative;
}
canvas {
    margin: 0;
    padding: 0;
}
select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*сброс стилей инпутов*/
input, button, select, textarea {
  outline: 0;
  border: none;
}

::-moz-focus-inner {
  border: 0;
  outline : 0;
}

header {
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1),rgba(0,0,0,0));
    width: 100%;
}
#title_input, #number_of_symbols {
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    line-height: 150%;
    text-shadow: 1px 1px white;
}

#title_input {
    width: 90%;
}

#number_of_symbols {
    width: 9%;
}

#numeric_adaptation {
    background-color: rgba(0,0,0,0);
    font-size: 2vw;
    color: gray;
    text-shadow: 0.8px 0.8px white;
    text-align: center;
    width: 100%;
}


section.sidebar {
    position: absolute;
    display: flex;
    right: 5px;
    top: 10px;
}

section.sidebar #statistic {
    padding-top: 12px;
    display: none;
    transition-duration: 1s;
}

section.sidebar #statistic div {
    padding: 0px;
    padding-bottom: 10.2px;
    text-align: right;
}


section.sidebar .palitra {
    background-color: rgba(0,0,0,0);
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    padding: 5px;
}

section.sidebar .palitra div {
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 2px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    padding-top: 2px;
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(256,256,256,0),rgba(256,256,256,0.2),rgba(256,256,256,0.6));
    text-align: center;
}

footer label {
    font-family: arial;
    font-size: 110%;
    font-weight: bold;
    text-shadow: 1px 1px white;
    text-transform: uppercase;

}

select {
    background: url("../img/arrow_down.png") 97% 50% no-repeat #e3e4e5;
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    color: #757575;
    padding: 5px 24px 5px 9px;
    margin: 15px;
    margin-top: 5px;
    cursor: pointer;
  }

#ok_button {
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px #a2a2a2;
    cursor: pointer;
    user-select: none;
}
